@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --color-background-input-footer:#130F38;
    --color-background-footer:      #1E1647;
    --color-link-text:              #614AD3;
    --color-text-e-icon:            #f9f9f9;

}

* {
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-text-e-icon);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-background-footer);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 3rem 3.5rem;
}

#footer_title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

#footer_social_media {
    display: flex;
    gap: 1rem;
    margin-top: 0.75rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-text-e-icon);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#github {
    background-color: #171515;
}

#linkedin {
    background-color: #0e76a8;
}

#youtube {
    background-color: #c4302b;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-link-text);
    transition: all 0.35s;
}

.footer-list .footer-link:hover {
    color: #423290;
}

.footer-contact-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-contact-list .footer-link {
    color: var(--color-link-text);
    transition: all 0.35s;
}

.footer-contact-list .footer-link:hover {
    color: #423290;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#footer_subscribe p {
    color: var(--color-link-text);
}

#footer_subtitle {
    text-align: left;
    background-color: var(--color-background-footer);
    font-size: 1.25rem;
    /* padding: 1rem; */
    font-weight: 250;
    gap: 0.5rem;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-background-input-footer);
    border-radius: 5px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: var(--color-link-text);
    border: none;
    color: var(--color-text-e-icon);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}
#footer_bottom {
    display: flex;
    justify-content: center;
    background-color: var(--color-background-input-footer);
    font-size: 1rem;
    padding: 1rem;
    font-weight: 150;
}

@media screen and (max-width: 770px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 425px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
